/*utility class*/
.py-1{
    padding: 1rem 0 0 0;
}
.py-2{
    padding: 0.5rem 0 ;
}
.py-top{
    padding: 0.5rem 0 0 0;
}
.sum{
    width: 60%;
    margin: auto;
}
.sum-wrap{
    width: 90%;
    margin: auto;
}
.sum-wrap p{
    text-align: justify;
}